<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cabinet</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    {{ assets | raw }}

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<div class="left">
    <h2>Vijoint</h2>

    <a href="/list/">Статистика продаж</a>
    <a href="/addclient/">Добавить пациента</a>
    <a href="/addinjection/">Добавить продажу</a>
   <!-- <a href="/sms/">СМС Напоминания</a> -->
    <a href="/setting/">Настройки</a>
    <a href="/logout/">Выход</a>



</div>

<div class="right">

    {{ page | raw }}


</div>


<script>
//    $( ".datepicker" ).datepicker();
$.datepicker.regional['ru'] = {
    closeText: 'Закрыть',
    prevText: 'Предыдущий',
    nextText: 'Следующий',
    currentText: 'Сегодня',
    monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
    monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн','Июл','Авг','Сен','Окт','Ноя','Дек'],
    dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
    dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
    dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
    weekHeader: 'Не',
    dateFormat: 'dd.mm.yy',
    firstDay: 1,
    isRTL: false,
    showMonthAfterYear: false,
    yearSuffix: ''
};
$.datepicker.setDefaults($.datepicker.regional['ru']);


    $('#datepicker').datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $('#datepicker2').datepicker({
        dateFormat: 'yy-mm-dd'
    });

    $('#datepicker3').datepicker({
        dateFormat: 'yy-mm-dd'
    });

$('#datepicker4').datepicker({
    dateFormat: 'yy-mm-dd'
});

</script>
</body>
</html>