<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cabinet</title>
    {{ assets | raw }}
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<div class="left">
    <span>Кабинет администратора</span>
    <h2>Vijoint</h2>


    <a href="/list/">Статистика продаж</a>
    <a href="/addclient/">Добавить пациента</a>
    <a href="/sms/">СМС Напоминания</a>
    <a href="/addmanager/">Добавить пользователя</a>
    <a href="/setting/">Настройки</a>
    <a href="/logout/">Выход</a>



</div>

<div class="right">

    {{ page | raw }}


</div>



</body>
</html>