<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Настройки</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-6">
        <form action="" method="post">
            <div class="form-group">
                <label for="p">Смена пароля</label>
                <input required name="pass" type="password" class="form-control"
                       id="p" aria-describedby="emailHelp" placeholder="Введите новый пароль *">
            </div>
            <input type="submit" name="changepass" class="btn btn-primary" value="сменить">
        </form>
    </div>
    <div class="col-md-6">
        <form action="" method="post">
            <div class="form-group">
                <label for="p">Смена email</label>
                <input required name="pass" type="text" class="form-control"
                       id="p" aria-describedby="emailHelp" placeholder="Введите новый email *">
            </div>
            <input type="submit" name="changeemail" class="btn btn-primary" value="сменить">
        </form>
    </div>
</div>


<br>
<br>

<div class="row">
    <div class="col-md-6">
        <form action="" method="post">
            <div class="form-group">
                <label for="p">Добавить свой номер телефона</label>
                <input required name="pass" type="password" class="form-control"
                       id="p" aria-describedby="emailHelp" placeholder="Введите контактный номер *">
            </div>
            <input type="submit" name="addphone" class="btn btn-primary" value="сменить">
        </form>
    </div>
    <div class="col-md-6">
        <form action="" method="post">
            <div class="form-group">
                <label for="p">Сменить свой номер телефона</label>
                <input required name="pass" type="text" class="form-control"
                       id="p" aria-describedby="emailHelp" placeholder="Введите новый номер телефона *">
            </div>
            <input type="submit" name="changephone" class="btn btn-primary" value="сменить">
        </form>
    </div>
</div>




<br>
<br>

<div class="row">
    <div class="col-md-6">
        <form action="" method="post">
            <div class="form-group">
                <label for="p">Указать город проживания</label>
                <input required name="text" type="password" class="form-control"
                       id="p" placeholder="Указать город проживания *">
            </div>
            <input type="submit" name="addphone" class="btn btn-primary" value="сменить">
        </form>
    </div>
    <div class="col-md-6">
        <form action="" method="post">
            <div class="form-group">
                <label for="p">Изменить город проживания</label>
                <input required name="text" type="password" class="form-control"
                       id="p" placeholder="Изменить город проживания *">
            </div>
            <input type="submit" name="addphone" class="btn btn-primary" value="сменить">
        </form>
    </div>
</div>